<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="style.css">

    <title>Plan</title>
</head>
<body>
    <h1>Month</h1>
    <div class="input-group">
        <div class="top-row">
            <h3>Income</h3>
            <input type="text" class="inline-input forStorage moneyInput" id="incomeInput" type="number" placeholder="Enter income">
            
        
        </div>
    <div>
            <input type="text" class="under-input forIncome forRemainIncome moneyInput">
            <button class="forIncomeRemainBut">add to remaining</button>
            <input type="checkbox" name="" id="">
        
    </div>
    </div> 




    <div class="input-group">
        <div class="top-row">
            <h3>Giving</h3>
            <input type="text" class="inline-input givingInput" id="incomeInput" type="number" placeholder="Enter income">
            
        
        </div>
    <div>
            <input type="text" class="under-input forIncome forRemainIncome givingInput under-input-giving">
            <button class="forGivingRemainBut">add to Give-remaining</button>
            <input type="checkbox" name="" id="">
        
    </div>
    </div>



    <div class="input-group">
        <div class="top-row">
            <h3>Savings</h3>
            <input type="text" class="inline-input savingsInput" id="incomeInput" type="number" placeholder="Enter income">
            
        
        </div>
    <div>
            <input type="text" class="under-input forIncome forRemainIncome savingsInput">
            <button class="forSavingsRemainBut">add to savings-remaining</button>
            <input type="checkbox" name="" id="">
        
    </div>
    </div>



    <div class="input-group">
        <div class="top-row">
            <h3>Housing</h3>
            <input type="text" class="inline-input housingInput" id="incomeInput" type="number" placeholder="Enter income">
            
        
        </div>
    <div>
            <input type="text" class="under-input forIncome forRemainIncome housingInput">
            <button class="forHousingRemainBut">add to housing-remaining</button>
            <input type="checkbox" name="" id="">
        
    </div>
    </div>


    <div class="input-group">
        <div class="top-row">
            <h3>Transportation</h3>
            <input type="text" class="inline-input transportationInput" id="incomeInput" type="number" placeholder="Enter income">
            
        
        </div>
    <div>
            <input type="text" class="under-input forIncome forRemainIncome transportationInput">
            <button class="forTransportationRemainBut">add to Transportation-Remaining</button>
            <input type="checkbox" name="" id="">
        
    </div>
    </div>


    <div class="input-group">
        <div class="top-row">
            <h3>Food</h3>
            <input type="text" class="inline-input foodInput" id="incomeInput" type="number" placeholder="Enter income">
            
        
        </div>
    <div>
            <input type="text" class="under-input forIncome forRemainIncome foodInput">
            <button class="forFoodRemainBut">add to food-remaining</button>
            <input type="checkbox" name="" id="">
        
    </div>
    </div>


    <div class="input-group">
        <div class="top-row">
            <h3>Lifestyle</h3>
            <input type="text" class="inline-input lifestyleInput" id="incomeInput" type="number" placeholder="Enter income">
            
        
        </div>
    <div>
            <input type="text" class="under-input forIncome forRemainIncome lifestyleInput">
            <button class="forLifestyleRemainBut">add to lifestyle-remaining</button>
            <input type="checkbox" name="" id="">
        
    </div>
    </div>


    <div class="input-group">
        <div class="top-row">
            <h3>Insurance & Bills</h3>
            <input type="text" class="inline-input insuranceBillInput" id="incomeInput" type="number" placeholder="Enter income">
            
        
        </div>
    <div>
            <input type="text" class="under-input forIncome forRemainIncome insuranceBillInput">
            <button class="forInsuranceBillsRemainBut">add to insurance-bills-remaining</button>
            <input type="checkbox" name="" id="">
        
    </div>
    </div>


    <div class="input-group">
        <div class="top-row">
            <h3>Debt</h3>
            <input type="text" class="inline-input debtInput" id="incomeInput" type="number" placeholder="Enter income">
            
        
        </div>
    <div>
            <input type="text" class="under-input forIncome forRemainIncome debtInput">
            <button class="forDebtRemainBut">add to debt-remaining</button>
            <input type="checkbox" name="" id="">
        
    </div>
    </div>


    <div class="input-group">
        <div class="top-row">
            <h3>Extra</h3>
            <input type="text" class="inline-input extraInput" id="incomeInput" type="number" placeholder="Enter income">
            
        
        </div>
    <div>
            <input type="text" class="under-input forIncome forRemainIncome extraInput">
            <button class="forExtraRemainBut">add to extra-remaining</button>
            <input type="checkbox" name="" id="">
        
    </div>
    </div>
    
    <script type="text/javascript" src="main.js"></script>
</body>
</html>