<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>remainPage</title>

<link rel="stylesheet" href="style.css">

</head>
<body>
<h1>Month</h1>
<!-- <div class="input-group total-group">
    <h3>Income</h3>
    <input type="text" id="receiver" class="inline-input total-income" readonly>
    <input type="text" id="cashReceiver" class="inline-input input-container">
</div>

<div> -->
    <!-- </div>
    </div> -->

<button id="reset-all">Reset All</button>





    <div class="input-container">
        <h3>Income</h3>
        <input type="text" id="receiver" class="inline-input">
        <input type="text" id="cashReceiver" class="inline-input">
        <button class="reset-section">Clear Section</button>
    </div>


<div class="input-group" data-section="giving">
<div>
    <h3>Giving</h3>
    <input type="text" class="inline-input section-total" placeholder="Giving Total">
    <button class="reset-section">Clear Section</button>
</div>
<div class=>
    <input type="text" class="under-input under-input-giving-receive-remaining" placeholder="Enter amount">
</div>
</div>


<div class="input-group" data-section="savings">
<div>
    <h3>Savings</h3>
    <input type="text" class="inline-input section-total" placeholder="Saving Total">
    <button class="reset-section">Clear Section</button>
</div>
<div>
    <input type="text" class="under-input" placeholder="Enter amount">
</div>
</div>




<div class="input-group" data-section="housing">
<div>
    <h3>Housing</h3>
    <input type="text" class="inline-input section-total" placeholder="Housing Total">
    <button class="reset-section">Clear Section</button>
</div>
<div>
    <input type="text" class="under-input" placeholder="Enter amount">
</div>
</div>



<div class="input-group" data-section="transportation">
<div>
    <h3>Transportation</h3>
    <input type="text" class="inline-input section-total" placeholder="Transportation Total">
    <button class="reset-section">Clear Section</button>
</div>
<div>
    <input type="text" class="under-input" placeholder="Enter amount">
</div>
</div>




<div class="input-group" data-section="food">
<div>
    <h3>Food</h3>
    <input type="text" class="inline-input section-total" placeholder="Food Total">
    <button class="reset-section">Clear Section</button>
</div>
<div>
    <input type="text" class="under-input" placeholder="Enter amount">
</div>
</div>



<div class="input-group" data-section="lifestyle">
<div>
    <h3>Lifestyle</h3>
    <input type="text" class="inline-input section-total" placeholder="Lifestyle Total">
    <button class="reset-section">Clear Section</button>
</div>
<div>
    <input type="text" class="under-input" placeholder="Enter amount">
</div>
</div>






<div class="input-group" data-section="insurance-bills">
<div>
    <h3>Insurance-Bills</h3>
    <input type="text" class="inline-input section-total" placeholder="Housing Total">
    <button class="reset-section">Clear Section</button>
</div>
<div>
    <input type="text" class="under-input" placeholder="Enter amount">
</div>
</div>






<div class="input-group" data-section="debt">
<div>
    <h3>Debt</h3>
    <input type="text" class="inline-input section-total" placeholder="Housing Total">
    <button class="reset-section">Clear Section</button>
</div>
<div>
    <input type="text" class="under-input" placeholder="Enter amount">
</div>
</div>








<div class="input-group" data-section="extra">
<div>
    <h3>Extra</h3>
    <input type="text" class="inline-input section-total" placeholder="Extra Total">
    <button class="reset-section">Clear Section</button>
</div>
<div>
    <input type="text" class="under-input" placeholder="Enter amount">
</div>
</div>



<script type="text/javascript" src="remainPage.js"></script>
</body>
</html>