<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remaining Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Month</h1>
    <div class="input-container">
        <h3>Income</h3>
        <input type="text" id="receiver" class="inline-input">
        <input type="text" id="cashReceiver" class="inline-input">
    </div>



    <div class="input-group">
        <div class="top-row">
            <h3>Giving</h3>
            <input type="text" id="givingReceiver" class="inline-input" id="giveReceiver" type="number" placeholder="Enter income">
            
        
        </div>
    <div>
            <input type="text" class="under-input forIncome forRemainIncome giveUnderReceivers">






    <div class="input-group">
        <div class="top-row">
            <h3>Savings</h3>
            <input type="text" id="savingsReceiver" class="inline-input" id="savingsReceiver" type="number" placeholder="Enter income">
                    
                
        </div>
    <div>
            <input type="text" class="under-input forIncome forRemainIncome saveUnderReceivers">



    <div class="input-group">
        <div class="top-row">
            <h3>Housing</h3>
            <input type="text" id="housingReceiver" class="inline-input" id="housingReceiver" type="number" placeholder="Enter income">
                            
                        
        </div>
    <div>
            <input type="text" class="under-input forIncome forRemainIncome housingUnderReceivers">
        
    
    <div class="input-group">
        <div class="top-row">
            <h3>Transportation</h3>
            <input type="text" id="transportationReceiver" class="inline-input" id="transportationReceiver" type="number" placeholder="Enter income">
                                    
                                
        </div>
        <div>
            <input type="text" class="under-input forIncome forRemainIncome transportationUnderReceivers">


    <div class="input-group">
        <div class="top-row">
            <h3>Food</h3>
            <input type="text" id="foodReceiver" class="inline-input" id="foodReceiver" type="number" placeholder="Enter income">
                                    
                                
        </div>
        <div>
            <input type="text" class="under-input forIncome forRemainIncome foodUnderReceivers">
        
                    

    <div class="input-group">
        <div class="top-row">
            <h3>Lifestyle</h3>
            <input type="text" id="lifeStyleReceiver" class="inline-input" id="lifeStyleReceiver" type="number" placeholder="Enter income">
                                            
                                        
        </div>
        <div>
            <input type="text" class="under-input forIncome forRemainIncome lifestyleUnderReceivers">
        
                            

    <div class="input-group">
        <div class="top-row">
            <h3>Insurance & Bills</h3>
            <input type="text" id="insuranceBillsReceiver" class="inline-input" id="insuranceBillsReceiver" type="number" placeholder="Enter income">
                                                    
                                                
        </div>
        <div>
            <input type="text" class="under-input forIncome forRemainIncome insuranceBillsUnderReceivers">
        
                                    

    <div class="input-group">
        <div class="top-row">
            <h3>Debt</h3>
            <input type="text" id="debtReceiver" class="inline-input" id="debtReceiver" type="number" placeholder="Enter income">
                                                            
                                                        
        </div>
        <div>
            <input type="text" class="under-input forIncome forRemainIncome debtUnderReceivers">
        
                                            

    <div class="input-group">
        <div class="top-row">
            <h3>Extra</h3>
            <input type="text" id="extraReceiver" class="inline-input" id="housingReceiver" type="number" placeholder="Enter income">
                                                                    
                                                                
        </div>
        <div>
            <input type="text" class="under-input forIncome forRemainIncome extraUnderReceivers">
        
                                                        
                
    
    </div>
    </div>

    

    

    <script type="text/javascript" src="main.js"></script>
    <script type="text/javascript" src="subtractMain.js"></script>
</body>
</html>