<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remaining Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Month</h1>
    <div class="input-container">
        <h3>Income</h3>
        <input type="text" id="receiver" class="inline-input">
        <input type="text" id="cashReceiver" class="inline-input">
    </div>

    <div class="input-group">
        <div class="top-row">
            <h3>Giving</h3>
            <input type="text" class="inline-input" id="giveReceiver" type="number" placeholder="Enter income">
            
        
        </div>
    <div>
            <input type="text" class="under-input forIncome forRemainIncome giveUnderReceivers">
        
    </div>
    </div>

    

    

    <script type="text/javascript" src="main.js"></script>
    <script type="text/javascript" src="subtractMain.js"></script>
</body>
</html>