<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>spentPage</title>

<link rel="stylesheet" href="style.css">

</head>
<body>

<button id="reset-all">Reset All</button>


<div class="input-group total-group">
    <h3>Income</h3>
    <input type="text" id="receiver" class="inline-input total-income" readonly>
    <!-- <button class="reset-section" id="spentIncomeSec">Clear Section</button> -->
</div>

<div>
    </div>
    </div>


<div class="input-group" data-section="giving">
<div>
    <h3>Giving</h3>
    <input type="text" class="inline-input section-total" placeholder="Giving Total">
    <button class="reset-section">Clear Section</button>

</div>
<div class=>
    <input type="text" class="under-input" placeholder="Enter amount">
</div>
</div>


<div class="input-group" data-section="savings">
<div>
    <h3>Savings</h3>
    <input type="text" class="inline-input section-total" placeholder="Saving Total">
    <button class="reset-section">Clear Section</button>
</div>
<div>
    <input type="text" class="under-input" placeholder="Enter amount">
</div>
</div>




<div class="input-group" data-section="housing">
<div>
    <h3>Housing</h3>
    <input type="text" class="inline-input section-total" placeholder="Housing Total">
    <button class="reset-section">Clear Section</button>
</div>
<div>
    <input type="text" class="under-input" placeholder="Enter amount">
</div>
</div>



<div class="input-group" data-section="transportation">
<div>
    <h3>Transportation</h3>
    <input type="text" class="inline-input section-total" placeholder="Transportation Total">
    <button class="reset-section">Clear Section</button>
</div>
<div>
    <input type="text" class="under-input" placeholder="Enter amount">
</div>
</div>




<div class="input-group" data-section="food">
<div>
    <h3>Food</h3>
    <input type="text" class="inline-input section-total" placeholder="Food Total">
    <button class="reset-section">Clear Section</button>
</div>
<div>
    <input type="text" class="under-input" placeholder="Enter amount">
</div>
</div>



<div class="input-group" data-section="lifestyle">
<div>
    <h3>Lifestyle</h3>
    <input type="text" class="inline-input section-total" placeholder="Lifestyle Total">
    <button class="reset-section">Clear Section</button>
</div>
<div>
    <input type="text" class="under-input" placeholder="Enter amount">
</div>
</div>






<div class="input-group" data-section="insurance-bills">
<div>
    <h3>Insurance-Bills</h3>
    <input type="text" class="inline-input section-total" placeholder="Housing Total">
    <button class="reset-section">Clear Section</button>
</div>
<div>
    <input type="text" class="under-input" placeholder="Enter amount">
</div>
</div>






<div class="input-group" data-section="debt">
<div>
    <h3>Debt</h3>
    <input type="text" class="inline-input section-total" placeholder="Housing Total">
    <button class="reset-section">Clear Section</button>
</div>
<div>
    <input type="text" class="under-input" placeholder="Enter amount">
</div>
</div>








<div class="input-group" data-section="extra">
<div>
    <h3>Extra</h3>
    <input type="text" class="inline-input section-total" placeholder="Extra Total">
    <button class="reset-section">Clear Section</button>
</div>
<div>
    <input type="text" class="under-input" placeholder="Enter amount">
</div>
</div>



<script type="text/javascript" src="spentPage.js"></script>
</body>
</html>


















<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>spentPage</title>

<link rel="stylesheet" href="style.css">

</head>
<body>

<div class="input-group total-group">
    <h3>Income</h3>
    <input type="text" id="receiver" class="inline-input total-income" readonly>
</div>

<div>
    </div>
    </div>


<div class="input-group" data-section="giving">
<div>
    <h3>Giving</h3>
    <input type="text" class="inline-input section-total" placeholder="Giving Total">
</div>
<div class=>
    <input type="text" class="under-input" placeholder="Enter amount">
</div>
</div>


<div class="input-group" data-section="savings">
<div>
    <h3>Savings</h3>
    <input type="text" class="inline-input section-total" placeholder="Saving Total">
</div>
<div>
    <input type="text" class="under-input" placeholder="Enter amount">
</div>
</div>
    



<script type="text/javascript" src="spentPage.js"></script>
</body>
</html> -->
























<!-- ******************************************************************************************************************************** -->
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="style.css">


    <title>Spent</title>
</head>
<body>
    <h1>Month</h1>
    <div class="input-group">
        <div class="top-row">
            <h3>Income</h3>
            <input type="text" class="inline-input forStorage moneyInput" id="incomeInput" type="number" placeholder="Enter income">
            <button class="forIncomeRemainBut">subtract from remaining</button>
            <input type="checkbox" name="" id="">
            
        
        </div>
    <div>
    </div>
    </div>

    <div class="input-group" data-section="giving">
        <div class="top-row">
            <h3>Giving</h3>
            <input type="text" class="inline-input givingInput section-total" id="incomeInput" type="number" placeholder="Giving Total">
            
        
        </div>
    <div>
            <input type="text" class="under-input forIncome forRemainIncome givingInput under-input-giving">
            <button class="forGivingRemainBut">subtract from Give-remaining</button>
            <input type="checkbox" name="" id="">
        
    </div>
    </div>
<script type="text/javascript" src="spentPage.js"></script>    
</body>
</html> -->

























<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="style.css">


    <title>Spent</title>
</head>
<body>
    <h1>Month</h1>
    <div class="input-group">
        <div class="top-row">
            <h3>Income</h3>
            <input type="text" class="inline-input forStorage moneyInput" id="incomeInput" type="number" placeholder="Enter income">
            <button class="forIncomeRemainBut">subtract from remaining</button>
            <input type="checkbox" name="" id="">
            
        
        </div>
    <div>
    </div>
    </div>

    <div class="input-group" data-section="giving">
        <div class="top-row">
            <h3>Giving</h3>
            <input type="text" class="inline-input givingInput" id="incomeInput" type="number" placeholder="Enter income">
            
        
        </div>
    <div>
            <input type="text" class="under-input forIncome forRemainIncome givingInput under-input-giving">
            <button class="forGivingRemainBut">subtract from Give-remaining</button>
            <input type="checkbox" name="" id="">
        
    </div>
    </div>
<script type="text/javascript" src="spentPage.js"></script>    
</body>
</html> -->
















<!-- <div class="input-group" data-section="giving">
    <h3>Giving</h3>
    <input type="text" class="inline-input section-total" placeholder="Giving Total">
    <input type="text" class="under-input" placeholder="Enter amount">
</div>

<div class="input-group" data-section="another">
    <h3>Another</h3>
    <input type="text" class="inline-input section-total" placeholder="Another Total">
    <input type="text" class="under-input" placeholder="Enter amount">
</div>

<div class="input-group total-group">
    <h3>Income</h3>
    <input type="text" id="receiver" class="inline-input total-income" readonly>
</div> -->
